---
layout: default
title: About Me
---

<h1 class="about-title">About Me.</h1>

<div class="about-flex-grid">
    <div class="about-flex-col">
        <img src="/assets/images/about/selfie-car-Oct-2020.JPG" alt="Picture of me.">
    </div>
    <div class="about-flex-col about-text-col">
        <p>I'm a computer nerd who specializes in mobile and web full-stack application development. I've created two iOS apps, and done even more with backend programming and cloud architecture.</p>
        <p>I have a Bachelor's Degree in Computer Science from Sacred Heart University, currently employed as a software developer.</p>

        <p>When I’m not making apps work, you can find me listening to an eclectic mix of music or discussing current events at length.</p>
    </div>
</div>

<div class="about-flex-grid">
    <div class="about-flex-col about-center">
        <h2>My Music Taste</h2>
        <iframe src="https://embed.tidal.com/mix/0101d5ecc14f5a79e1dd5e8e2389c8?disableAnalytics=true" allowfullscreen="allowfullscreen" frameborder="0" style="width:100%;height:300px"></iframe>
    </div>
</div>

<div class="about-center about-italics">
    <p>This website was entirely custom-written by me, using <a href="https://jekyllrb.com">Jekyll</a>.</p>
</div>
